html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #242322;
    min-height: 100vh;
    font-family: 'Encode Sans', sans-serif;
}
/* navigation bar */
#stonks
{
    border-radius:0px;
    background:#fff;
    padding:10px;
    font-size:17px;
}
/* logo or main heading */
#logo
{
    font-size:20px;
    font-weight:bolder;
    color:#00004d;
    letter-spacing:2px;
}
/* navigation links*/
#link a
{
    color:#01325d;
    margin:0 20px 0 10px;
    letter-spacing:1.5px;
}
/* navigation link with right border */
#first-link
{
    padding-right:6px;
    border-right:solid 1px #ccc;
}
/* sign up link button and toggle button */
#button-link ,#toogle-button
{
    color:#f2f2f2;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.2);
    border-radius: 2px;
    background-color: #fa6a48;
    line-height: 17px;
}
#button-link a
{
    color:#f2f2f2;
}
.navSettings {
    padding:20px;
}
.footerSettings {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.navbar .dropdown-menu {
    z-index: 9999;
}
.navSettings .dropdown-item.logout:hover {
    cursor: pointer;
}
.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
